pandas==2.2.2
numpy==1.26.4
torch
transformers==4.40.2
scikit-learn
matplotlib
seaborn
gensim
nltk
cohere
langchain-community
wikipedia-api
beautifulsoup4
requests
pydantic
ipywidgets
langchain==0.1.16
langchain-community==0.0.32